In [1]:
import pandas as pd

In [2]:
cities = pd.read_csv("Resources/cities.csv", index_col=0)

cities_summary = pd.DataFrame(cities)
cities_summary

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hilo,19.73,-155.09,69.80,77,1,8.05,US,1605376789
1,Ushuaia,-54.80,-68.30,39.20,69,75,20.80,AR,1605376789
2,Grindavik,63.84,-22.43,33.80,80,40,12.75,IS,1605376789
3,Tuatapere,-46.13,167.68,56.79,84,100,5.73,NZ,1605376789
4,Asunción Nochixtlán,17.47,-97.23,69.17,38,0,5.75,MX,1605376790
...,...,...,...,...,...,...,...,...,...
550,Bathsheba,13.22,-59.52,87.80,70,20,11.41,BB,1605376921
551,Tautira,-17.73,-149.15,80.60,78,40,6.93,PF,1605376922
552,Maragogi,-9.01,-35.22,82.09,71,16,10.60,BR,1605376922
553,Bad Freienwalde,52.79,14.03,52.00,83,99,6.76,DE,1605376922
554,Kyshtovka,56.55,76.63,21.40,97,94,5.39,RU,1605376922

In [3]:
cities.to_html("cities.html")